#product-catalog{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


.single-product{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    padding: 20px;
    margin-bottom: 2rem;
    width: 20%;
    box-shadow: 10px 10px purple;
}

.single-product img{
    width: 60%;
    height: 100px;
}

.update{
    background-color: greenyellow;   
}

.delete{
    background-color: red;
}
.one{
    border-radius: 5px;
    cursor: pointer;
    color: white;
}